@{ ViewBag.Title = "Index"; }
<h2>
    Index</h2>
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<div class="full_width clear">
    @Html.Partial("_LeftMenu")
    <div class="block clear loginBlock">
        <h2>Timesheet</h2>
        @using(Html.BeginForm("")) {
        <div>
        
        </div>}
    </div>
</div>
